.catalog-menu {
    position: absolute;
    top: 110px;
    width: 100%;
    background-color: #fff;
    z-index: 106;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
}

.catalog-menu_active {
    opacity: 1;
    visibility: visible;
}

.button-catalog {
    padding-left: 100px;
    position: relative;
    z-index: 5;
    margin-top: auto;
}

.button-catalog_active {
    background-color: #fff;
    z-indeX: 105;
    color: #222;
    .button-catalog__decor {
        width: 0;
        height: 0;
        &::after, &::before {
            width: 22px;
            background-color: #222;
            top: 50%;
        }
        &::after {
            transform: translateY(-50%) rotate(45deg);
        }
        &::before {
            transform: translateY(-50%)  rotate(-45deg);
        }
    }
    &:hover {
        background-color: #fff;
        color: #222;
    }
}

.button-catalog__decor {
    display: block;
    width: 22px;
    height: 3px;
    background: #FFFFFF;
    border-radius: 0.7px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    &::after, &::before {
        content: "";
        width: 22px;
        height: 3px;
        background: #FFFFFF;
        border-radius: 0.7px;
        position: absolute;
    }
    &::after {
        top: -6px;
        left: 0;
    }
    &::before {
        left: 0;
        top: 6px;
        width: 13px;
    }
}

.catalog-menu {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

// .catalog-menu__column {
//    margin-right: 30px;
//    max-width: 340px;
//    flex-grow: 1;
//    flex-shrink: 0;
//    &:last-child {
//        margin-right: 0;
//    }
// }

.catalog-menu__row {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    max-width: 340px;
    width: 100%;
    margin-right: 30px;
    width: calc(100% / 4 - 30px);
}


.catalog-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.catalog-item__title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #222222;
    text-transform: uppercase;
    margin-right: 16px;
    max-width: 260px;
    overflow-wrap: anywhere;
}

.catalog-item {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.catalog-item__point {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.catalog-item__link {
    font-family: Gotham Pro;
    font-size: 13px;
    color: #1C69D4;

}

.selection-link {
    display: block;
    padding-left: 165px;
    padding-top: 35px;
    padding-right: 50px;
    padding-bottom: 35px;
    position: relative;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
}

.selection-link img {
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.catalog-item__link-all {
    svg {
        display: none;
    }
}