.page-input {
    padding: 20px 20px;
    line-height: 1;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 4px;
    color: #222;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    &::placeholder {
        font-family: "Gotham Pro";
        font-size: 14px;
        line-height: 14px;
        color: #999999; 
    }
    &:focus {
        outline: none;
    }
}

.page-input-icon {
    position: relative;
    input, textarea {
        padding: 20px 20px;
        line-height: 1;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        box-sizing: border-box;
        border-radius: 4px;
        color: #222;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
        &::placeholder {
            font-family: "Gotham Pro";
            font-size: 14px;
            line-height: 14px;
            color: #999999; 
        }
        &:focus {
            outline: none;
        }
    }
    textarea {
        padding-right: 40px;
    }
    &::after {
        content: "";
        width: 11px;
        height: 11px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        transition: all .2s linear;
    }
}

.page-input-icon_area {
    &::after {
        top: 25px;
        transform: none;
    }
}

.page-input-icon_error {
    input,textarea {
        border: 1px solid #FF4400;
    }
    &::after {
        fill: #FF4400;
        visibility: visible;
        opacity: 1;
        background-image: url("../img/svg/close.svg");
        width: 10px;
        height: 10px;
    }
}

.page-input-icon_active {
    &::after {
        stroke: #3CA255;
        visibility: visible;
        opacity: 1;
        background-image: url("../img/svg/yes.svg");
        width: 13px;
        height: 10px;
    }
}

.page-input-icon_focus {
    
    &::after {
        fill: #FF4400;
        visibility: visible;
        opacity: 1;
        background-image: url("../img/svg/requirement.svg");
        width: 10px;
        height: 10px;
    }
}

.page-input-count {
    position: relative;
    input, textarea {
        padding: 20px 20px;
        line-height: 1;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        box-sizing: border-box;
        border-radius: 4px;
        color: #222;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
        &::placeholder {
            font-family: "Gotham Pro";
            font-size: 14px;
            line-height: 14px;
            color: #999999; 
        }
        &:focus {
            outline: none;
        }
    }
    textarea {
        padding-right: 40px;
    }
}

.page-input-count_error{
    input, textarea {
        border: 1px solid #E15353 !important;
    }
    .page-input-count__number-left, .page-input-count__number-right {
        color: #E15353;
    }
}

.page-input-count {
    position: relative;
    .page-input-count__numbers {
        position: absolute;
        color: #BBBBBB;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        font-size: 0px;
    }
    .page-input-count__number-left, .page-input-count__number-right {
        font-size: 11px;
    }
}

