.number-select {
    display: flex;
    align-items: center;
}
.number-select__body {
    border: 1px solid #BBBBBB;
    position: relative;
    height: 40px;
    width: 125px;
    margin-right: 10px;
    user-select: none;
}

.number-select__delete {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #B4B4B4;
    text-align: center;
    position: relative;
    border-radius: 3px;

    svg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        fill: #999999;
        width: 18px;
        height: 20px;
    }
}

.number-select__left-button, .number-select__right-button {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    user-select: none;
    font-size: 12px;
    color: #777777;
    border: 1px solid #B4B4B4;
    border-radius: 3px;
    cursor: pointer;
}


.number-select__value {
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #7B7B82;
}


.number-select__left-button {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.number-select__right-button {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}