.page-popup {
    position: fixed;
    max-width: 355px;
    min-width: 300px;
    padding: 30px;
    z-index: 130;
    background-color: #fff;
    top: 60px;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: all .2s linear;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.page-popup_active {
    visibility: visible;
    opacity: 1;
}

.page-popup__title {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    text-align: left;
    margin-bottom: 30px;
}

.page-popup {
    p {
        margin-bottom: 15px;
    }
}

.page-popup__link {
    margin-top: 5px;
    font-size: 13px;
    color: #1C69D4;
}

.page-popup__button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.page-popup__link-reg, .page-popup__link-remember {
    font-size: 15px;
    line-height: 18px;
    color: #1C69D4;
    text-decoration: underline;
    text-align: center;
    display: block;
}

.page-popup__close {
    position: absolute;
    right: 26px;
    top: 18px;
    display: block;
    z-index: 140;
    &::after, &::before {
        content: "";
        width: 2px;
        height: 23px;
        display: block;
        background-color: #222;
        position: absolute;
        top: 6px;
        left: 0;
    }
    &::before {
        transform: translateY(-50%) rotate(-45deg);
    }
    &::after {
        transform: translateY(-50%) rotate(45deg);
    }
}

.page-popup__input_pass {
    font-size: 18px;
}

.page-popup__block {
    display: none;
}

.page-popup__block_active {
    display: block;
}

.page-popup__error  {
    margin-bottom: 10px;
}

.page-popup__descr {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #222;
    margin-bottom: 10px;
}

.page-popup__container {
    display: none;
}

.page-popup__container_active {
    display: block;
}