.section-contacts {
    iframe {
        width: 100%;
    }
    .page-section__body {
        padding: 0;
    }
    .page-section__row {
        padding: 45px 35px;
    }
}

#map {
    width: 100%;
    height: 449px;
    filter: gray;
    -webkit-filter: grayscale(1);
}

.section-contacts__map {
    margin-bottom: 42px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.section-contacts__tel-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section-contacts__tel-descr {
    font-size: 14px;
    display: block;
}

.section-contacts__tel {
    padding-left: 5px;
}

.section-contacts__row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    padding: 45px 30px;
}

.section-contacts__left, .section-contacts__right {
    margin-left: 15px;
    flex-grow: 1;
    margin-right: 15px;
}

.requisites__list {
    display: block;
    margin-bottom: 30px;
}

.requisites__item {
    font-family: Gotham Pro;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

.requisites__key {
    color: #777777;
}
.requisites__value {
    padding-left: 5px;
}

.requisites__value_mail {
    color: #1C69D4;
}

.feedback-form__wrapper {
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}

.feedback-form__header {
    padding-top: 3px;
    padding-bottom: 5px;
}

.feedback-form__title {
    font-family: Gotham Pro;
    font-weight: bold;
    font-size: 14px;
}

.feedback-form__req {
    color: #777777;
    font-size: 13px;
}

.feedback-form__button {
    padding-top: 20px;
    padding-bottom: 20px;
}

.feedback-form__area {
    resize: none;
    height: 135px;
}
