.section-cart__info {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.section-cart__bottom {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section-cart__adress {
    padding-left: 30px;
    position: relative;
    svg {
        width: 20px;
        height: 20px;
        fill: #222222;
        position: absolute;
        top: 0;
        left: 0;
    }
    b {
        display: inline-block;
        margin-bottom: 5px;
    }
}

.section-cart__total {
    display: flex;
    align-items: center;
}

.section-cart__total-price {
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    margin-left: 5px;
}

.section-cart__total {
    margin-left: auto;
}

.section-cart__button {
    margin-left: 75px;
}

.section-cart__arrange {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.arrange__text {
    display: block;
}

.arrange__total {
    margin-right: 25px;
    text-align: right;
}

.arrange__price {
    font-size: 30px;
    /* identical to box height */
    color: #222222;
}

.promo {
    position: relative;
    display: flex;
    align-items: center;
}

.promo__wrapper {
    position: relative;
    margin-right: 25px;
}

.promo__input {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 35px;
    font-size: 14px;
    line-height: 14px;
    max-width: 260px;
    max-height: 48px;
}

.promo__button {
    width: 48px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    svg {
        transform: rotate(-90deg);
        width: 14px;
        height: 14px;
        fill: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

.promo__text {
    font-size: 14px;
}

.promo__money {
    font-size: 24px;
}

.promo__right {
    display: none;
    color: #005F17;
    margin-left: 15px;
    margin-right: 44px;
}

.promo__right_active {
    display: block;
}