@media screen and (max-width: 1920px) {
    .page-content {
        width: 1600px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .button-catalog {
        padding-left: 60px;
        padding-right: 26px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .button-catalog__decor {
        left: 25px;
    }
    .catalog-menu__column {
        margin-right: 30px;
        max-width: 276px;
        flex-grow: 1;
        flex-shrink: 0;
        &:last-child {
            margin-right: 0;
        }
     }
     .selection-link {
        display: block;
        padding-left: 165px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        position: relative;
    }
    
    .selection-link img {
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .intro-product__read-more {
        position: relative;
        z-index: 5;
    }
    .section-catalog__left {
        width: 270px;
    }
    .page-product {
        padding-right: 3px;
    }
}

@media screen and (max-width: 1600px) {
    .page-content {
        width: 1280px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .container {
        width: 1220px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .page-header__left {
        margin-right: 20px;
    }
    .page-nav__item_buy {
        display: none;
    }
    .page-nav__item_shares {
        display: none;
    }
    .opportunities__item {
        width: 365px;
    }
    .adver-products__item {
        width: 365px;
        margin-right: 30px;
    }
    .adver-products__item_big {
        width: auto;
        flex-grow: 1;
        margin-right: 0;
    }
    .page-footer__nav {
        .page-nav__item_req {
            display: none;
        }
    }
    .button__number {
        display: none;
    }
    .button_wp {
        .button__text {
            display: block;
        }
    }
    .advert-products {
        margin-bottom: 15px;
    }
    .adver-product__title {
        font-size: 23px;
    }
    .page-product {
        width: 50%;
    }
    .spec-product__item {
        margin-right: 15px;
    }
}


@media screen and (max-width: 1280px) {
    .page-content {
        width: 960px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        width: 920px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .page-header__nav {
        padding-top: 15px;
        padding-bottom: 15px;
        .page-nav__list {
            justify-content: center;
        }
        .page-nav__item_shares {
            display: block;
        }
        .page-nav__item_buy {
            display: block;
        }
    }
    .button-catalog {
        width: 100%;
    }
    .intro-product__title {
        display: none;  
    }
    .opportunity-item {
        margin-right: 5px;
        margin-left: 5px;
        padding: 20px;
    }
    .opportunities__list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .opportunity-item__numb {
        display: none;
    }
    .page-header {
        padding-bottom: 0;
    }
    .button {
        font-size: 15px;
    }
    .opportunities {
        margin-top: -280px;
    }
    .intro-product__accent-text {
        font-size: 35px;
        line-height: 1;
    }
    .intro-product {
        padding-bottom: 300px;
    }
    .adver-products__item {
        width: 430px;
        height: 250px;
        margin-right: 20px;
        background-color: #01B7E6;
        img {
            top: 50%;
            transform: translateY(-50%);
            object-fit: contain;
            object-position: right;
            z-index: 0;
        }
    }
    .adver-products__item_big {
        background-color: #587478;
        width: 430px;
        &:last-child {
            margin-right: 0;
        }
        img {
            top: 50%;
            transform: translateY(-50%);
            height: 90%;
            object-fit: contain;
            object-position: 80%;
            z-index: 0;
        }
    }
    .adver-product__feature {
        display: none;
    }
    .page-footer__nav {
        .page-nav__item_conf {
            display: none;
        }
    }
    .catalog-item {
        max-width: none;
        width: calc(100% / 3 - 10px);
        margin-bottom: 20px;
        margin-right: 10px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    .selection-link {
        padding-left: 155px;
    }
    .cookie-info__button {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
    }
    .cookie-info__text {
        padding-right: 50px;
        text-align: left;
    }
    .page-product__img {
        width: 120px;
        height: 120px;
    }
    .section-catalog__content {
        flex-wrap: wrap;
    }
    .page-product {
        &:hover {
            transform: none;
        }
    }
    .section-catalog__left {
        min-height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 100%;
        right: 0;
        width: auto;
        margin: auto;
        padding-right: 15%;
        background-color: #fff;
        transition: all .2s linear;
    }
    .filter-block__multi-select {
        max-width: 360px;
    }
    .page-filter_active {
        left: 25%;
        right: 0;
    }
    .section-catalog__right {
        width: 100%;
    }
    .sort-view {
        display: none;
    }
    .product__select-sort {
        border: 1px solid #1C69D4;
        color: #5988C9;
        padding: 15px 15px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        .sort__title {
            color: #1C69D4;
            margin-right: 5px;
        }
        .sort__type {
            color: #1C69D4;
            text-overflow: clip;
            overflow: hidden;
            white-space: nowrap;
        }
        svg {
            order: -1;
            position: static;
            fill: #1C69D4;
            margin: 5px;
        }
        .select__body {
            top: 110%;
            left: 0;
            width: 100%;
            color: #000000;
            font-weight: normal;
        }
    }
    .products__button-filter {
        display: flex;
        justify-content: center;
    }
    .products {
        display: flex;
        flex-direction: column;
    }
    .products__button-filter {
        order: 0;
        margin-bottom: 10px;
    }
    .products__sort {
        margin-right: 0;
        padding-right: 0;
    }
    .product__select-sort {
        order: 1;
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
    .products__filters {
        order: 2;
    }
    .products__list {
        order: 3;
    }
    .section-catalog__right {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .page-filter__close {
        display: block;
    }
    .filters__title {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .products__filters {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .cart-table__body {
        flex-wrap: wrap;
        position: relative;
        padding-right: 65px;
    }
    .cart-table tr {
        align-items: center;
    }
    .cart-table__col {
        width: calc(100% / 3);
        text-align: left;
        align-items: flex-start;
        flex-basis: auto;
        margin-bottom: 10px;
        flex-grow: 0;
    }
    .cart-table__col-big {
        width: calc(100% / 3);
        text-align: left;
        align-items: flex-start;
        flex-basis: auto;
        text-align: left;
        margin-bottom: 10px;
        flex-grow: 0;
    }
    .cart-table__header {
        display: none !important;
    }
    .product-table__relevance {
        justify-content: flex-start;
    }
    .cart-table__body .cart-table__col:last-child {
        position: absolute;
        display: block;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: auto;
    }
    .product-table__relevance {
        justify-content: flex-start;
        text-align: left;
    }
    .section-cart__bottom {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .section-cart__total {
        margin-left: 0;
    }
    .section-cart__adress {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
    .section-cart__total {
        width: 100%;
        margin-bottom: 15px;
    }
    .section-cart__button {
        margin-left: 0;
    }
    .arrange {
        justify-content: flex-start;
    }
}


@media screen and (max-width: 960px) {
    .page-content {
        width: 640px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .intro-slider .container {
        width: auto;
    }
    .page-header__nav {
        display: none;
    }
    .page-header__content {
        flex-wrap: wrap;
    }
    .button-catalog {
        margin-top: 0;
        margin-right: 15px;
        display: inline-block;
        width: auto;
    }
    .page-header__tel {
        margin-right: 0;
        margin-left: 15px;
    }
    .page-header__bottom {
        display: block;
    }
    .page-main {
        padding-top: 0;
    }
    .logo__text {
        display: block;
    }
    .logo {
        width: auto;
    }
    .logo img {
        display: none;
    }
    .button-menu  {
        display: block;
    }
    .page-header__left {
        display: flex;
        align-items: flex-start;
    }
    .opportunities__list {
        display: block;
        margin: 0;
    }
    .opportunities__item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .opportunities .container {
        width: auto;
        padding: 0px 15px;
    }
    .intro-product__accent-text {
        position: relative;
        z-index: 5;
    }
    .intro-product__img {
        left: auto;
        right: 0px;
        transform: none;
    }
    .adver-products__item {
        width: calc(50% - 10px);
    }
    .adver-product__content {
        position: relative;
        z-index: 5;
    }
    .adver-products__item_big {
        img {
            object-position: 100%;
        }
    }
    .adver-product {
        padding: 40px 30px;
    }
    .opportunity-item {
        padding-right: 50%;
        position: relative;
        display: block;
    }
    .opportunity-item__button {
        position: absolute;
        bottom: 25px;
        right: 20px;
    }
    .page-footer__nav .page-nav__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: -20px;
    }
    
    .page-footer__nav {
        margin-bottom: 10px;
        .page-nav__item_conf {
            display: block;
        }
        .page-nav__item_req {
            display: block;
        }
    }
    .page-footer__nav {
        .page-nav__item {
            margin-right: 25px;
            margin-bottom: 20px;
            
        }
    }
    .catalog-item {
        width: 100%;
    }
    .catalog-item__title {
        font-size: 13px;
        margin-right: 10px;
        letter-spacing: -0.5px;
    }
    .catalog-menu {
        padding: 25px 20px;
        flex-wrap: wrap;
    }
    .catalog-item__title {
        flex-grow: 1;
        max-width: 100%;
    }
    .catalog-item__list {
        display: none;
    }
    .catalog-item__header {
        margin-bottom: 0;
    }
    .catalog-item {
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid #E6E6E6;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .catalog-item__link-all {
        margin: 0;
    }
    .catalog-menu {
        padding: 0;
    }
    .catalog-item__link-all {
        font-size: 0;
        width: 14px;
        height: 14px;
        border: 0;
        position: relative;
        svg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 14.5px;
            width: 14.5px;
        }
    }
    .catalog-menu__right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .catalog-menu__button {
        border-radius: 0px;
        width: 100%;
        text-align: left;
        order: 5;
        margin-bottom: 0;
    }
    .catalog-menu__selectcion-link {
        margin-bottom: 0;
        border-radius: 0px;
        border: none;
        width: 50%;
        padding-right: 155px;
        padding-left: 20px;
        img {
            left: auto;
            right: 0;
        }
    }
    .catalog-menu {
        top: 116px;
    }
    .cookie-info__text {
        padding-right: 30px;
    }
    .page-header__nav {
        position: absolute;
        display: none;
        left: 0;
        top: 57px;
        z-index: 120;
        background-color: #fff;
        width: 100%;
        padding: 0;
        .page-nav__list {
            flex-direction: column;
        }
        .page-nav__item {
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 50px;
            margin: 0;
            border-top: 1px solid #E6E6E6;
        }
        .page-nav__link  {
            max-width: 640px;
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
    }
    .page-header__nav svg {
        display: block;
        transform: rotate(-90deg) translateY(-50%);
        top: 50%;
        width: 14px;
        height: 14px;
        position: absolute;
        right: 45px;
    }
    .page-header__nav_active {
        display: block;
    }
    .catalog-menu {
        top: 116px;
    }
    .catalog-item__header {
        cursor: pointer;
        svg {
            transition: all .2s linear;
        }
    }
    .catalog-item__header_active {
        svg {
            transform: rotate(-90deg);
        }
    }
    .catalog-item__list {
        margin-top: 25px;
        display: none;
    }
    .catalog-item__list_active {
        display: block;
    }
    .page-search__complete {
        
    }
    .page-search__title {
        display: none;
    }
    .page-search__count {
        display: none;
    }
    .page-header__tel_active {
        display: none;
    }
    .page-search__img {
        display: none;
    }
    .page-search__point {
        margin-bottom: 0;
    }
    .page-search .page-search__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    .page-search__input {
        padding-right: 125px;
    }
    .section-contacts__row {
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }
    .section-contacts__left, .section-contacts__right {
        width: 100%;
        margin: 0;
    }
    .section-contacts__left {
        margin-bottom: 20px;
    }
    .feedback-form__button {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .page-main_section {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .section-payment__list {
        flex-wrap: wrap;
    }
    .payment-item  {
        width: 100%;
    }
    .section-payment__item {
        margin: 0;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .page-section__body {
        padding: 15px;
    }
    .page-section__title {
        font-size: 34px;
    }
    .page-product__img {
        width: 80px;
        margin-top: 30px;
        height: 80px;
    }
    .page-product {
        align-items: flex-start;
    }
    .cart-table__col, .cart-table__col-big {
        width: 50%;
        padding-right: 25px;
    }
    .arrange {
       flex-wrap: wrap;
    }
    .promo {
        width: 100%;
        margin-bottom: 15px;
    }
    .promo__wrapper {
        width: 100%;
        margin-right: 0;
    }
    .promo__input {
        max-width: none;
    }
    .arrange__total {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
        text-align: center;
    }
    .arrange__button {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .catalog-menu {
        top: 143px;
    }
    .page__wrapper {
        min-width: 320px;
    }
    .page-content {
        width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container {
        // width: 320px;
        // padding-left: 10px;
        // padding-right: 10px;
        width: 100%;
        padding: 0;
    }
    .page-search__input {
        display: none;
    }
    .page-header__content {
        flex-wrap: nowrap;
    }
    .user-nav__link {
        display: none;
    }
    .page-header__left, .page-header__right {
        padding-bottom: 20px;
    }
    .page-header__row-top {
        margin-bottom: 0;
    }
    .page-header__bottom {
        .page-content {
            padding-left: 10px;
            padding-right: 10px;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
    .button-catalog {
        order: 3;
    }
    .page-header__tel {
        order: 2;
    }
    .user-nav__item {
        margin: 0;
        padding: 0;
        margin-left: 25px;
        svg {
            position: static;
            transform: none;
            width: 100%;
            height: 100%;
        }
    }
    .user-nav__item_cart {
        width: 18px;
        height: 18px;
    }
    .user-nav__item_sign {
        width: 18px;
        height: 18px;
    }
    .user-nav {
        align-items: center;
    }
    .page-search__icon {
        right: 0px;
        left: auto;
        width: 17px;
        height: 17px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .page-header__adress {
        width: 42%;
        margin-bottom: 0;
    }
    .button-catalog {
        width: 100%;
        margin-right: 0;
        margin-top: 12px;
    }
    .button-catalog__decor {
        left: 30%;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 60px;
        height: 60px;
    }
    .intro-product__buttons {
        right: 0;
    }
    .intro-product__img {
        left: 40%;
        right: auto;
        top: 90%;
        transform: translateY(-50%);
        width: 70%;
    }
    .opportunity-item__button {
        position: relative;
        left: initial;
        right: initial;
        top: initial;
        bottom: initial;
        width: 100%;
    }
    .opportunity-item {
        padding: 20px;
    }
    .opportunities__item {
        margin-bottom: 10px;
    }

    .advert-products__content {
        flex-wrap: wrap;
    }
    .adver-products__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .page-footer__nav {
        margin-bottom: 20px;
        .page-nav__list {
            flex-direction: column;
            margin-bottom: 0;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }
        .page-nav__item {
            margin-right: 0;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .page-footer__socials {
        justify-content: flex-start;
    }
    .copyright {
        text-align: left;
    }
    .catalog-menu__selectcion-link {
        width: 100%;
    }
    .page-popup {
        padding: 15px 15px;
    }
    .page-popup__title {
        margin-bottom: 15px;
        padding-right: 25px;
        line-height: 1;
    }
    .cookie-info__text {
        padding-right: 15px;
    }
    .page-header__nav {
        .page-nav__item {
            padding-left: 25px;
        }
        .page-nav__link  {
            max-width: 320px;
            width: 100%;
        }
        svg {
            right: 15px;
        }
    }
    .page-search_active {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
        .page-search__input {
            display: block;
        }
        .page-search__form {
            position: relative;
        }
        .page-search__icon {
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 15;
            position: absolute;
        }
    }
    .page-section__title {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .page-section__subtitle {
        font-size: 22px;
    }
    .reg-form__row {
        flex-wrap: wrap;
        margin: 0;
    }
    .reg-form__item {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
    }
    .page-product {
        width: 100%;
        display: block;
        border: none;
        &:hover {
            border: none;
        }
    }
    .page-product__header {
        text-align: center;
    }
    .page-product__img {
        width: 100px;
        height: 100px;
        margin-top: 0;
    }
    .page-product__button {
        width: 100%;
    }
    .product__sort {
        margin-bottom: 40px;
    }
    .filters__list {
        width: 100%;
    }
    .product__filters {
        flex-wrap: wrap;
    }
    .filters__title {
        margin-bottom: 10px;
        display: block;
    }
    .page-filter_active {
        left: 10%;
    }
    .cart-table__body {
        padding-right: 25px;
        display: block !important;
    }
    .cart-table tbody {
        display: block !important;
    }
    
    .product-table {
        .cart-table__col, .cart-table__col-big {
            width: 100%;
            display: block;
        }
    }
    .cart-table__body .cart-table__col:last-child {
        display: block;
        position: static;
        .checkbox {
            justify-content: flex-start;
        }
    }
    .cart-table .checkbox__view {
        display: none;
    }
    .cart-table .checkbox__title {
        display: block;
        padding: 10px 25px;
        border: 1px solid #222;
        color: #222;
        border-radius: 4px;
        margin-top: 10px;
    }
    .product-table__relevance  {
        margin-bottom: 15px;
    }
    .cart-table__body .cart-table__col:last-child {
        margin-bottom: 0;
    }
}